body {
  font-family: Vollkorn, serif;
  font-weight: 400;
}
.desc {
  margin-left:3em;
  margin-bottom:.5em;
}
h1 {text-align:center; margin:2em 2em .5em 2em}
h2 {
  font-weight:400; font-style:italic;
  text-align:center; margin:0 2em 3em 2em
}
h3 {
  font-size:160%;
  font-weight:400; text-align:left; font-style:italic; 
  margin-top:1em;
  margin-left:1em;
  margin-bottom:.5em;
}
table {margin-top:1.5em;margin-left:3em;text-align:center;font-size:80%}
th {text-align:left;font-weight:400;font-style:italic}
th.conformance-header {padding-right:2em;line-height:2.5em}
td.conformance-pass {color:#3c7;font-size:150%}
td.conformance-fail {color:#c33;font-size:150%}
th.conformance {padding-right:1.5em;line-height:2.5em}
svg {height:2.5em;transform:scaleY(-1)}
